@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <p>
        <h2>@ViewBag.Disciplina</h2>
    </p>
    <p>
        <h3>Objetivo: @ViewBag.Objetivo.</h3>
    </p>

    <h2>Desenvolvedores do site:</h2>

</hgroup>


<p>
    <span class="label">Fábio Dal´Osto:</span>
    <span><a href="mailto:fdalosto@gmail.com">fdalosto@gmail.com</a></span>
</p>
<p>
    <span class="label">Rodrigo Alminhana Dallarosa:</span>
    <span><a href="mailto:rodrigodalla@gmail.com">rodrigodalla@gmail.com</a></span>
</p>
