@{
    ViewBag.Title = "Contato";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <p>
        <h2>Contatos dos desenvolvedores deste site:</h2>
    </p>
</hgroup>

<p>
    <span class="label">Fábio Dal´Osto:</span>
    <span><a href="mailto:fdalosto@gmail.com">fdalosto@gmail.com</a></span>
</p>
<p>
    <span class="label">Rodrigo Alminhana Dallarosa:</span>
    <span><a href="mailto:rodrigodalla@gmail.com">rodrigodalla@gmail.com</a></span>
</p>
