@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <p>
        <h2>@ViewBag.Disciplina</h2>
    </p>
    <p>
        <h3>Objetivo: @ViewBag.Objetivo.</h3>
    </p>
</hgroup>